cluster_formation.peer_discovery_backend = rabbit_peer_discovery_aws
cluster_formation.aws.region = us-west-2 {{ aws-region }}
cluster_formation.aws.instance_tags.service = rabbitmq-cluster
cluster_formation.aws.instance_tags.environment = {{ env }}

cluster_partition_handling = pause_minority
vm_memory_high_watermark.relative = 0.6
